* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-app-region: no-drag; /* Todo lo demás no se podrá arrastrar */
}


@font-face {
    font-family: 'NombreAppFuente';
    src: url('assets/fonts/Micfloral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NombreCuerpoFuente';
    src: url('assets/fonts/Study\ Case.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --gris-claro: #CBC8C8;
    --gris-oscuro: #888888;
    --teal: #78C3C9;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.container-general {
    background: linear-gradient(
    to bottom, 
    #FFFFFF 0%, 
    rgba(255, 255, 255, 0.6) 12%, 
    var(--teal) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/********************************** HEADER ******************************/

.header-container {
    
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 42px;
    -webkit-app-region: drag; /* Este div será para arrastrar */
}

.header-option {
    display: flex;
    height: 35px;
    width: 150px;
    justify-content: center;
    align-items: center;
    color: var(--gris-oscuro);
    border-radius: 16px;
}

.header-option:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.header-option.selected {
    background-color: var(--teal);
    color: white;
}

.header-option.selected:hover {
    background-color: #61ADB3;
}


/************************************** BODY *************************/
.body-container {
    width: 100%;
    display: flex;
    justify-content: center; /* centramos la zona donde estarán los ahorros */
}


/***************************************** AHORROS *******************************/

.ahorros-container {
    max-width: 95vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.ahorros-container::-webkit-scrollbar {
    display: none;
}

.ahorro-card {
    font-family: "Poppins", sans-serif;
    width: 200px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: white;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 27px -16px rgba(182, 182, 182, 1);
    -moz-box-shadow: 0px 0px 27px -16px rgba(182, 182, 182, 1);
    box-shadow: 0px 0px 27px -16px rgba(182, 182, 182, 1);
}